body, html {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: #455A64;
  font-family: 'Noto Kufi Arabic';

}

#menuBtn {
  color: #455A64;
  font-size: 50px;
}

.armBtn {
  font-size: 35px;
  color: #455A64;
}

.legBtn {
  font-size: 35px;
  color: #455A64;
}

.backBtn {
  font-size: 35px;
  color: #455A64;
}

.resultCard {
  background-color: #CFD8DC;
  margin: 60px;
}

#results {
  font-size: 35px;
}

#email {
  color: #455A64;
  font-size: 35px;
}

#emailResults {
  color: #455A64;
  font-size: 35px;
}

.md-default-theme {
  color: #455A64;
  font-size: 35px;
}

h1 {
  color: #455A64;
  font-size: 75px;
}

.ng-binding {
  color: #455A64;
  font-size: 40px;
}

.md-button.md-raised {
  font-size:40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#navbar {
  background-color: white;
}

#password, #name, #username {
  font-size: 50px;
  color: #455A64;
  font-family: 'Noto Kufi Arabic';
}

.instructions .container h1 {
  font-size: 50px;
  font-weight: 600;
}

.instructions {
  background-color: white;
  color: #455A64;
  text-align: center;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
  margin-bottom: 10px;
}
