body, html {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: #455A64;
  font-family: 'Noto Kufi Arabic';

}

#menuBtn {
  color: #455A64;
  font-size: 35px;
}

.resultCard {
  background-color: #CFD8DC;
  margin: 50px;
}

#results {
  font-size: 30px;
}

#email {
  color: #455A64;
  font-size: 35px;
}

#emailResults {
  color: #455A64;
  font-size: 35px;
}

.md-default-theme {
  color: #455A64;
  font-size: 35px;
}

h1 {
  color: #455A64;
  font-size: 75px;
}

.ng-binding {
    color: #455A64;
    font-size: 40px;
}

.md-button.md-raised {
  font-size:30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#navbar {
  background-color: white;
}

.instructions .container h1 {
  font-size: 50px;
  font-weight: 600;
}

.instructions {
  background-color: white;
  color: #455A64;
  text-align: center;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container p{
  margin-top : 14px;
  margin-bottom : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #455A64;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #455A64;
}
