<div ng-if="oc.intake.bodypart == 'systemic'">

  <center><p><img ng-src="images/Systemic.jpg" height="800"/></p>

    <p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</button></p>

      <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Fever-Chills-Sweats.m4a">څيرول </md-button>
      <md-checkbox checklist-model="oc.intake.symptoms" value="fever"></md-checkbox><br>
      <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Unbalanced.m4a">نېش </md-button>
      <md-checkbox checklist-model="oc.intake.symptoms" value="inbalanced"></md-checkbox><br>
      <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Rapid Weight Loss.m4a">سوزش </md-button>
      <md-checkbox checklist-model="oc.intake.symptoms" value="weight-loss"></md-checkbox><br>
      <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Rapid Weight Gain.m4a">زخم </md-button>
      <md-checkbox checklist-model="oc.intake.symptoms" value="weight-gain"></md-checkbox><br>
      <p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>
      </div>

      <div ng-if="oc.intake.bodypart == 'arm'"> <!-- if something in the service is equal to "arm" -->

        <md-radio-group ng-model="oc.intake.limb" layout="column" layout-align="center center">

          <p><img ng-src="images/Arm.jpg" height="800"/></p>

          <center><p><md-button class="md-raised md-primary" ng-audio="soundclips/Overview.m4a">لارښوونې</md-button></p></center>

          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Arm.m4a">مټه</md-button>
          <md-radio-button  class="armBtn" name="arm" value="upperArm"> .۱</md-radio-button>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Elbow.m4a">سانګاله</md-button>
          <md-radio-button  class="armBtn" name="arm" value="elbow"> .۲</md-radio-button>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Forearm.m4a">فورارم </md-button>
          <md-radio-button  class="armBtn" name="arm" value="forearm"> .۳</md-radio-button>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Hand.m4a">لاس</md-button>
          <md-radio-button  class="armBtn" name="arm" value="hand"> .۴</md-radio-button>
          <p><md-button class="md-raised md-primary" ng-click="oc.extremityClick()">راتلونکی</a></md-button></p>

        </md-radio-group>
      </div>

      <div ng-if="oc.intake.bodypart == 'leg'">

        <md-radio-group ng-model="oc.intake.limb" layout="column" layout-align="center center">

          <p><img ng-src="images/Leg.jpg" height="800"/></p>

          <center><p><md-button class="md-raised md-primary" ng-audio="soundclips/Overview.m4a">لارښوونې</md-button></p>

            <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Thigh.m4a">پاتون </md-button>
            <md-radio-button class="legBtn" name="leg" ng-model="oc.intake.limb" value="thigh"> .۱</md-radio-button>
            <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Knee.m4a">زنګون </md-button>
            <md-radio-button class="legBtn" name="leg" ng-model="oc.intake.limb" value="knee"> .۲</md-radio-button>
            <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Shin.m4a">نارې پښه </md-button>
            <md-radio-button class="legBtn" name="leg" ng-model="oc.intake.limb" value="shin"> .۳</md-radio-button>
            <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Foot.m4a">پښه </md-button>
            <md-radio-button class="legBtn" name="leg" ng-model="oc.intake.limb" value="foot"> .۴</md-radio-button>
            <p><md-button class="md-raised md-primary" ng-click="oc.extremityClick()">راتلونکی</a></md-button></p>

          </md-radio-group>

        </center>
      </div>

      <div ng-if="oc.intake.bodypart == 'head'">

        <center><p><img ng-src="images/Head.jpg" height="800"/></p>

          <br>

          <p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>

          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Unconscious.m4a">بې خبر </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="unconscious"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Confusion.m4a">بېځايه کول </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="confusion"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Loss of Vision.m4a">ړوند </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-vision"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Head Trauma.m4a">پرهار </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="head-trauma"></md-checkbox><br>
          <md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button>

        </center>
      </div>

      <div ng-if="oc.intake.bodypart == 'chest'">

        <center><p><img ng-src="images/Chest.jpg" height="800"/></p>

          <p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>

          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Shortness of Breath.m4a">سا نيولى </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="breathless"></md-checkbox><br>
          <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Heart Palpitations.m4a">رېږده </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="palpitations"></md-checkbox><br>
          <p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

        </center>
      </div>

      <div ng-if="oc.intake.bodypart == 'abdomen'">

        <center><p><img ng-src="images/Abdomen.jpg" height="800"/></p>

          <p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>

          <md-button class="md-raised md-warm" md-colors="{color:'primary'}"  md-warnng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
          <md-button class="md-raised md-warm" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
          <md-button class="md-raised md-warm" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
          <md-button class="md-raised md-warm" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
          <md-button class="md-raised md-warm" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
          <md-button class="md-raised md-warm" md-colors="{color:'primary'}" ng-audio="soundclips/Incontinence.m4a">بد لمني </md-button>
          <md-checkbox checklist-model="oc.intake.symptoms" value="incontinence"></md-checkbox><br>
          <p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

        </center>
      </div>

      <div ng-if="oc.intake.bodypart == 'back'">

        <center><p><img ng-src="images/Back.jpg" height="800"/></p>

          <p><md-button class="md-raised md-primary" ng-audio="soundclips/Overview.m4a">لارښوونې</button></p></center>

            <md-radio-group ng-model="oc.intake.limb" layout="column" layout-align="center center">

              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Upper Back.m4a">لوړ مله</md-button>
              <md-radio-button class="backBtn" name="back" ng-model="oc.intake.limb" value="upperBack"> .۱</md-radio-button>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lower Back.m4a">نارې مله</md-button>
              <md-radio-button class="backBtn" name="back" ng-model="oc.intake.limb" value="lowerBack"> .۲</md-radio-button>
              <p><md-button class="md-raised md-primary" ng-click="oc.extremityClick()">راتلونکی</a></md-button></p>

            </md-radio-group>

          </div>

          <div ng-if="oc.intake.bodypart == 'neck'">

            <center><p><img ng-src="images/Neck.jpg" height="800"/></p>

              <p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>

              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Radiating Pain.m4a">پراخول </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="radiating-pain"></md-checkbox><br>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
              <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
              <md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
              <p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

            </center>
          </div>
