<div ng-include="'views/partials/nav.html'"></div>
<div ng-if="oc.intake.bodypart == 'arm'"> <!-- if something in the service is equal to "arm" -->

  <center><p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

  <p><img ng-src="images/Arm.png" height="300"/></p>
    <button ng-audio="soundclips/Burn.m4a">لاس </button>
    <input type="radio" name="arm" ng-model="oc.intake.limb" value="upperArm"> .۱<br>
    <button ng-audio="soundclips/Burn.m4a">سانګاله</button>
    <input type="radio" name="arm" ng-model="oc.intake.limb" value="elbow"> .۲<br>
    <button ng-audio="soundclips/Burn.m4a">فورارم </button>
    <input type="radio" name="arm" ng-model="oc.intake.limb" value="forearm"> .۳<br>
    <button ng-audio="soundclips/Burn.m4a">لاس</button>
    <input type="radio" name="arm" ng-model="oc.intake.limb" value="hand"> .۴<br>
    <p><button ng-click="oc.extremityClick()">راتلونکی</a></button></p>

  </center>
</div>

<div ng-if="oc.intake.bodypart == 'leg'">

  <center><p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

  <p><img ng-src="images/Leg.png" height="300"/></p>
    <button ng-audio="soundclips/Burn.m4a">پاتون </button>
    <input type="radio" name="leg" ng-model="oc.intake.limb" value="thigh"> .۱<br>
    <button ng-audio="soundclips/Burn.m4a">زنګون </button>
    <input type="radio" name="leg" ng-model="oc.intake.limb" value="knee"> .۲<br>
    <button ng-audio="soundclips/Burn.m4a">ناراخ پښه </button>
    <input type="radio" name="leg" ng-model="oc.intake.limb" value="shin"> .۳<br>
    <button ng-audio="soundclips/Burn.m4a">پښه </button>
    <input type="radio" name="leg" ng-model="oc.intake.limb" value="foot"> .۴<br>
    <p><button ng-click="oc.extremityClick()">راتلونکی</a></button></p>

  </center>
</div>

<div ng-if="oc.intake.bodypart == 'head'">

<center><p><img ng-src="images/Head.png" height="300"/></p>

<br>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<label><input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"></label><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<label><input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"></label><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Unconscious.m4a">بې خبر </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="unconscious"><br>
<button ng-audio="soundclips/Confusion.m4a">بېځايه کول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="confusion"><br>
<button ng-audio="soundclips/Loss of Vision.m4a">ړوند </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-vision"><br>
<button ng-audio="soundclips/Head Trauma.m4a">پرهار </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="head-trauma"><br>
<p><button><a href="#/overview">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>
</div>

<div ng-if="oc.intake.bodypart == 'chest'">

<center><p><img ng-src="images/Torso.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Shortness of Breath.m4a">سا نيولى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="breathless"><br>
<button ng-audio="soundclips/Heart Palpitations.m4a">رېږده </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="palpitations"><br>
<p><button><a href="#/overview">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>
</div>

<div ng-if="oc.intake.bodypart == 'abdomen'">

<center><p><img ng-src="images/Torso.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Incontinence.m4a">بد لمني </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="incontinence"><br>
<p><button><a href="#/overview">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>
</div>

<div ng-if="oc.intake.bodypart == 'back'">

<center><p><img ng-src="images/back.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

<button ng-audio="soundclips/Radiating Pain.m4a">پراخول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="radiating-pain"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<p><button><a href="#/overview">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>
</div>
