<div ng-include="'views/partials/nav.html'"></div>

<div class="head">

<center><p><img ng-src="images/Head.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Instructions</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="head" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="head" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="head" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="head" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="head" value="burn"><br>
<button ng-audio="soundclips/Unconscious.m4a">بې خبر </button>
<input type="checkbox" name="head" value="unconscious"><br>
<button ng-audio="soundclips/Confusion.m4a">بېځايه کول </button>
<input type="checkbox" name="head" value="confusion"><br>
<button ng-audio="soundclips/Loss of Vision.m4a">ړوند </button>
<input type="checkbox" name="head" value="lack-of-vision"><br>
<button ng-audio="soundclips/Head Trauma.m4a">پرهار </button>
<input type="checkbox" name="head" value="head-trauma"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="chest">

<center><p><img ng-src="images/Torso.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Instructions</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="chest" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="chest" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="chest" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="chest" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="chest" value="burn"><br>
<button ng-audio="soundclips/Shortness of Breath.m4a">سا نيولى </button>
<input type="checkbox" name="chest" value="breathless"><br>
<button ng-audio="soundclips/Heart Palpitations.m4a">رېږده </button>
<input type="checkbox" name="chest" value="palpitations"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="abdomen">

<center><p><img ng-src="images/Torso.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Instructions</button></p>

<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="abdomen" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="abdomen" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="abdomen" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="abdomen" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="abdomen" value="burn"><br>
<button ng-audio="soundclips/Incontinence.m4a">بد لمني </button>
<input type="checkbox" name="abdomen" value="incontinence"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="back">

<center><p><img ng-src="images/back.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Instructions</button></p>

<button ng-audio="soundclips/Radiating Pain.m4a">پراخول </button>
<input type="checkbox" name="back" value="radiating-pain"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="back" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="back" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="back" value="burning-pain"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="back" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="back" value="burn"><br>
<input type="submit" value="Submit">

</center>
</div>
