<div ng-include="'views/partials/nav.html'"></div>

<div class="comorbidities">

<center><p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">Cancer</button>
<input type="checkbox" name="comorbidities" value="cancer"><br>
<button ng-audio="soundclips/Aching Pain.m4a">Diabetes </button>
<input type="checkbox" name="comorbidities" value="diabetes"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">Heart Disease</button>
<input type="checkbox" name="comorbidities" value="heart-disease"><br>
<button ng-audio="soundclips/Burning Pain.m4a">COPD</button>
<input type="checkbox" name="comorbidities" value="copd"><br>
<button ng-audio="soundclips/Itchiness.m4a">Stroke</button>
<input type="checkbox" name="comorbidities" value="stroke"><br>
<button ng-audio="soundclips/Laceration.m4a">Alzheimer's Disease</button>
<input type="checkbox" name="comorbidities" value="alzheimers-disease"><br>
<button ng-audio="soundclips/Burn.m4a">Multiple Sclerosis</button>
<input type="checkbox" name="comorbidities" value="multiple-sclerosis"><br>
<button ng-audio="soundclips/Lack of Control.m4a">Parkinson's Disease</button>
<input type="checkbox" name="comorbidities" value="parkinsons-disease"><br>
<button ng-audio="soundclips/Lack of Control.m4a">Kidney Disease</button>
<input type="checkbox" name="comorbidities" value="kidney-disease"><br>
<button ng-audio="soundclips/Lack of Control.m4a">Liver Disease</button>
<input type="checkbox" name="comorbidities" value="liver-disease"><br>
<button ng-audio="soundclips/Lack of Control.m4a">High Blood Pressure</button>
<input type="checkbox" name="comorbidities" value="high-blood-pressure"><br>
<button ng-audio="soundclips/Lack of Control.m4a">Ulcer or GERD</button>
<input type="checkbox" name="comorbidities" value="ulcer-gerd"><br>
<button ng-audio="soundclips/Lack of Control.m4a">Recent Surgery</button>
<input type="checkbox" name="comorbidities" value="recent-surgery"><br>
<p><button ng-click="oc.doctorViewClick()">زیاتر</a></button></p>

</center>

</div>
