<div class="comorbidities">

  <center><p><md-button class="md-raised md-primary" ng-audio="soundclips/History Instruction.m4a">لارښوونې</md-button></p>

    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Cancer.m4a">سرطان</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="cancer"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Diabetes.m4a">ډايبېتېز </md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="diabetes"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Heart Disease.m4a">د زړه ناروغۍ</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="heart-disease"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Copd.m4a">څ و پ د</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="copd"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stroke.m4a">دماغي حمله</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="stroke"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Alzheimers disease.m4a">د الزهېمرس ناروغي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="alzheimers-disease"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Multiple sclerosis.m4a">د ملتیپل سکلاروسیس</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="multiple-sclerosis"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Parkinsons Disease.m4a">د پارکنسانس ناروغي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="parkinsons-disease"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Kidney disease.m4a">د کريډي ناروغي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="kidney-disease"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Liver disease.m4a">جگر ناروغي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="liver-disease"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/High blood Pressure.m4a">د وینی د لوړ فشار</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="high-blood-pressure"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Ulcer.m4a">ولسر یا ګ ې ر د</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="ulcer-gerd"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Tuberculosis.m4a">د نري رنځ</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="tuberculosis"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Asthma.m4a">سالنډۍ</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="asthma"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Epilepsy.m4a">ميرګي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="epilepsy"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Surgery.m4a">جراحي</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="recent-surgery"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Antibiotics.m4a">انتي بيوتيک</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="antibiotics"></md-checkbox><br>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Penicillin.m4a">پنسلین</md-button>
    <md-checkbox checklist-model="oc.intake.comorbidity" value="penicillin"></md-checkbox><br>
    <p><md-button class="md-raised md-primary" ng-click="oc.doctorViewClick()">بشپړ کړئ</a></md-button></p>

  </center>

</div>
