<div ng-include="'views/partials/nav.html'"></div>

<div ng-if="oc.intake.limb == 'upperArm'">

<center><p><img ng-src="images/Upper Arm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Upper Arm
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'elbow'">

<center><p><img ng-src="images/Elbow.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Elbow
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="elbow" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="elbow" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="elbow" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="elbow" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="elbow" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="elbow" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="elbow" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="elbow" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'forearm'">

<center><p><img ng-src="images/Forearm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Forearm
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="forearm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="forearm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="forearm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="forearm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="forearm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="forearm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="forearm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="forearm" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'hand'">

<center><p><img ng-src="images/Hand.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Hand
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="hand" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="hand" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="hand" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="hand" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="hand" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="hand" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="hand" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="hand" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.bodypart == 'thigh'">

<center><p><img ng-src="images/Thigh.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Thigh
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="thigh" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="thigh" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="thigh" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="thigh" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="thigh" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="thigh" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="thigh" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="thigh" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.bodypart == 'knee'">

<center><p><img ng-src="images/Knee.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Knee
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="knee" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="knee" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="knee" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="knee" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="knee" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="knee" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="knee" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="knee" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.bodypart == 'shin'">

<center><p><img ng-src="images/Shin.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Shin
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="shin" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="shin" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="shin" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="shin" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="shin" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="shin" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="shin" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="shin" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.bodypart == 'foot'">

<center><p><img ng-src="images/Foot.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

Foot
<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="foot" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="foot" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="foot" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="foot" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="foot" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="foot" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name= "foot" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="foot" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>
