<div ng-include="'views/partials/nav.html'"></div>

<div class="upperArm">

<center><p><img ng-src="images/Upper Arm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Upper Arm Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="elbow">

<center><p><img ng-src="images/Elbow.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Elbow Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="forearm">

<center><p><img ng-src="images/Forearm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Forearm Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="hand">

<center><p><img ng-src="images/Hand.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Hand Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="thigh">

<center><p><img ng-src="images/Thigh.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Thigh Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="knee">

<center><p><img ng-src="images/Knee.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Knee Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="shin">

<center><p><img ng-src="images/Shin.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Shin Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>

<div class="foot">

<center><p><img ng-src="images/Foot.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">Foot Instructions</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" name="upperArm" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" name="upperArm" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" name="upperArm" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" name="upperArm" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" name="upperArm" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" name="upperArm" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" name="upperArm" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" name="upperArm" value="lack-of-control"><br>
<input type="submit" value="Submit">

</center>

</div>
