<div ng-include="'views/partials/nav.html'"></div>

<div ng-if="oc.intake.limb == 'upperArm'">

<center><p><img ng-src="images/Upper Arm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'elbow'">

<center><p><img ng-src="images/Elbow.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'forearm'">

<center><p><img ng-src="images/Forearm.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'hand'">

<center><p><img ng-src="images/Hand.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'thigh'">

<center><p><img ng-src="images/Thigh.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'knee'">

<center><p><img ng-src="images/Knee.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'shin'">

<center><p><img ng-src="images/Shin.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'foot'">

<center><p><img ng-src="images/Foot.png" height="300"/></p>

<p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>


<button ng-audio="soundclips/Numbness.m4a">ويده والى </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="numbness"><br>
<button ng-audio="soundclips/Aching Pain.m4a">څيرول </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="aching-pain"><br>
<button ng-audio="soundclips/Stabbing Pain.m4a">نېش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="stabbing-pain"><br>
<button ng-audio="soundclips/Burning Pain.m4a">سوزش </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burning-pain"><br>
<button ng-audio="soundclips/Itchiness.m4a">خارښت </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="itchiness"><br>
<button ng-audio="soundclips/Laceration.m4a">زخم </button>
<input type="checkbox" checklist-model="oc.intake.symptoms"  value="laceration"><br>
<button ng-audio="soundclips/Burn.m4a">لمېسل </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="burn"><br>
<button ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </button>
<input type="checkbox" checklist-model="oc.intake.symptoms" value="lack-of-control"><br>
<p><button ng-click="oc.overviewClick()">زیاتر </a></button></p>
<p><button ng-click="oc.comorbidityClick()">راتلونکی</a></button></p>

</center>

</div>
