<div ng-if="oc.intake.limb == 'upperArm'">

<center><p><img ng-src="images/Upper Arm.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'elbow'">

<center><p><img ng-src="images/Elbow.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'forearm'">

<center><p><img ng-src="images/Forearm.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'hand'">

<center><p><img ng-src="images/Hand.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'thigh'">

<center><p><img ng-src="images/Thigh.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-pr md-warnimary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'knee'">

<center><p><img ng-src="images/Knee.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'shin'">

<center><p><img ng-src="images/Shin.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'foot'">

<center><p><img ng-src="images/Foot.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Numbness.m4a">ويده والى </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="numbness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Itchiness.m4a">خارښت </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="itchiness"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms"  value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Lack of Control.m4a">کمزورتيا </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="lack-of-control"></md-checkbox><br>
<!-- <p><button ng-click="oc.overviewClick()">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'upperBack'">

<center><p><img ng-src="images/Upper Back.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Radiating Pain.m4a">پراخول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="radiating-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<!-- <p><button><a href="#/overview">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>

<div ng-if="oc.intake.limb == 'lowerBack'">

<center><p><img ng-src="images/Lower Back.jpg" height="800"/></p>

<p><md-button class="md-raised md-primary" ng-audio="soundclips/Symptoms.m4a">لارښوونې</md-button></p>


<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Radiating Pain.m4a">پراخول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="radiating-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Aching Pain.m4a">څيرول </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="aching-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Stabbing Pain.m4a">نېش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="stabbing-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burning Pain.m4a">سوزش </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burning-pain"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Laceration.m4a">زخم </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="laceration"></md-checkbox><br>
<md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Burn.m4a">لمېسل </md-button>
<md-checkbox checklist-model="oc.intake.symptoms" value="burn"></md-checkbox><br>
<!-- <p><button><a href="#/overview">زیاتر </a></button></p> -->
<p><md-button class="md-raised md-primary" ng-click="oc.comorbidityClick()">راتلونکی</a></md-button></p>

</center>

</div>
