<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <center><p><img ng-src="images/Human Body.png" height="400"/></p>

    <p><button ng-audio="soundclips/Burn.m4a">لارښوونه</button></p>

    <button ng-audio="soundclips/Burn.m4a">ښي لاس </button>
    <input id="arm" type="radio" name="body" ng-model="oc.intake.bodypart" value="arm"> .۱<br>
    <button ng-audio="soundclips/Burn.m4a">ښي پښه </button>
    <input id="leg" type="radio" name="body" ng-model="oc.intake.bodypart" value="leg"> .۳<br>
    <button ng-audio="soundclips/Burn.m4a">ټټر </button>
    <input id="chest" type="radio" name="body" ng-model="oc.intake.bodypart" value="chest"> .۵<br>
    <button ng-audio="soundclips/Burn.m4a">سر</button>
    <input id="head" type="radio" name="body" ng-model="oc.intake.bodypart" value="head"> .۶<br>
    <button ng-audio="soundclips/Burn.m4a">نس </button>
    <input id="abdomen" type="radio" name="body" ng-model="oc.intake.bodypart" value="abdomen"> .۷<br>
    <button ng-audio="soundclips/Burn.m4a">مله </button>
    <input id=" back" type="radio" name="body" ng-model="oc.intake.bodypart" value="back"> .۸<br>
    <p><button ng-click="oc.bodyClick()">راتلونکی</button></p>
  </div>
