<div md-theme="default" class="container">
  <center><p><img ng-src="images/Human Body.jpg" height="800"/></p>

  <p><md-button class="md-raised md-primary" ng-audio="soundclips/Overview.m4a">لارښوونې</md-button></p></center>

  <md-radio-group ng-model="oc.intake.bodypart" layout="column" layout-align="center center">

    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Whole body.m4a">ټول ځان</md-button>
    <md-radio-button name="body" value="systemic"></md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Leg.m4a">پښه</md-button>
    <md-radio-button name="body" value="leg">.۱</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Arm.m4a">لاس</md-button>
    <md-radio-button name="body" value="arm">.۲</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Abdomen.m4a">خېته</md-button>
    <md-radio-button name="body" value="abdomen">.۳</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Chest.m4a">ټټر </md-button>
    <md-radio-button name="body" value="chest">.۴</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Head.m4a">سر</md-button>
    <md-radio-button name="body" value="head">.۵</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Back.m4a">مله </md-button>
    <md-radio-button name="body" value="back">.۶</md-radio-button>
    <md-button class="md-raised md-warn" md-colors="{color:'primary'}" ng-audio="soundclips/Neck.m4a">غاړه</md-button>
    <md-radio-button name="body" value="neck">.۷</md-radio-button>
    <p><md-button class="md-raised md-primary" ng-click="oc.bodyClick()">راتلونکی</md-button></p>
  </md-radio-group>
</div>
