<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <center><p><img ng-src="images/Human Body.png" height="400"/></p>

    <p><button ng-audio="soundclips/Burn.m4a">Instructions</button></p>

    <button ng-audio="soundclips/Burn.m4a">ښي لاس </button>
    <input type="radio" name="body" value="leftArm"> .۱<br>
    <button ng-audio="soundclips/Burn.m4a">پاتې لاس</button>
    <input type="radio" name="body" value="rightArm"> .۲<br>
    <button ng-audio="soundclips/Burn.m4a">ښي پښه </button>
    <input type="radio" name="body" value="rightLeg" checked> .۳<br>
    <button ng-audio="soundclips/Burn.m4a">پاتې پښه </button>
    <input type="radio" name="body" value="leftLeg"> .۴<br>
    <button ng-audio="soundclips/Burn.m4a">ټټر </button>
    <input type="radio" name="body" value="chest"> .۵<br>
    <button ng-audio="soundclips/Burn.m4a">سر</button>
    <input type="radio" name="body" value="head"> .۶<br>
    <button ng-audio="soundclips/Burn.m4a">نس </button>
    <input type="radio" name="body" value="abdomen"> .۷<br>
    <button ng-audio="soundclips/Burn.m4a">مله </button>
    <input type="radio" name="body" value="back"> .۸<br>
    <p><input type="submit" value="Submit"></center></p>

  </div>
